body {
    background-image: url("../images/starfield-background.png");
    color: white;
}

.attack-btn {
    width: 100%;
    display: none;
}

.card-text {
    color: black;
    font-weight: thin;
    font-size: 13px;
}

.character-tray {
    width: 600px;
}

.card-title {
    color: black;
    font-size: 15px;
    font-weight: bold;
    border-bottom: gray thin solid;
}

.reset-btn {
    width: 100%;
    display: none;
}
.start-character-image {
    max-width: 120px;
}

.title-bar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffd700;
    text-align: center;
    padding: 10px 0px;
    font-size: 55px;
}

#defender-character {
    max-width: 150px;
}

#enemies-left {
    border-right: thin white solid;
}

#user-character {
    max-width: 150px;
}